<section id="detailsPage">
  <div id="detailsInfo">
    <h1>Name: {{item.name}}</h1>
    <div class="info"><img src="{{item.image}}" /></div>
    <div class="info">
      <h3>Type: {{item.type}}</h3>
      <h3>Year of Production: {{item.productionYear}}</h3>
      <h3>Years of Exploitation: {{item.exploitationYear}}</h3>
      <h3>Damages: {{item.damages}}</h3>
      <h3>Description: {{item.description}}</h3>
      <h2>Price: ${{item.price}}</h2>
    </div>
    <!--If there is user logged in-->
    <div class="buttons">
      {{#if item.owner}}
        <!--If user is owner-->
        <a href="/tools/edit/{{item._id}}" class="edit-btn">Edit</a>
        <a href="/tools/delete/{{item._id}}" class="delete-btn">Delete</a>
        <!--If user is not owner of the toy post-->
      {{else}}
        {{#if item.isBought}}
          <p><span class="buy">Thank You For Your Purchase</span></p>
        {{else}}
          {{#if user}}
            <a href="/tools/buy/{{item._id}}" class="buy-btn">Buy</a>
          {{/if}}
        {{/if}}
      {{/if}}
      <!--If user is not the owner and is bought this toy-->
    </div>
  </div>
</section>